{% macro event_location(address_room, library, url) %}
  {% if not address_room is empty %}
    {% set location_text = array_filter([library, event_occation.field_address_room.value]) | join(', ') %}
    <div class="event-occation-info-item">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      {% if not url is empty %}
        <a href="{{ url }}" title="{{ location_text }}">{{ location_text }}</a>
      {% else %}
        {{ location_text }}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro event_scheduled_time(scheduled_time) %}
  <div class="event-occation-info-item">
    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ scheduled_time | trim | raw }}
  </div>
{% endmacro %}
