{# slate
  name = Event occation: View mode 'Teaser'
  models[entity] = entity:node
  view_mode[node][event_occation] = teaser
#}
{% import "macros/dates.html.twig" as dates %}
{% import "macros/misc.html.twig" as misc %}
{% import "macros/components.html.twig" as components %}
{% import "macros/ubn-events.html.twig" as ubn_events %}
<div class="row event-occasion-wrapper">
	<div class="col-sm-2">
		<div class="event-date-wrapper">
			<div class="event-occations-event-day-of-week">
			  {{ dates.date_custom(entity.field_scheduled_time.value, 'l') }}
			</div>
			<div class="event-occations-event-day-of-month">
			  {{ dates.date_custom(entity.field_scheduled_time.value, 'j') }}
			</div>
			<div class="event-occations-event-month">
			  {{ dates.date_custom(entity.field_scheduled_time.value, 'F') }}
			</div>
		</div>
	</div>
	<div class="col-sm-10 event-occasion-info-wrapper">
		<h3>{{ misc.link(entity.field_event.title_field.value, entity.url.value, 'event-occations-event-link') }}</h3>
		{% if entity.field_canceled.value == true %}
  	<span  class="alert alert-danger event-canceled" role="alert">{{ entity.field_canceled._label }}</span>
		{% endif %}
		<div>
		{{ ubn_events.event_scheduled_time(ubn_events_format_event_time(entity.field_scheduled_time)) }}
		</div>
		<div>
		{{ ubn_events.event_location(entity.field_address_room, entity.field_library.title_field) }}
		</div>
		<div>
			<span class="event-lead">{{ entity.field_event.field_event_type.name.value }} </span>
			<span>{{ entity.field_event.field_lead.value }}</span>
		</div>
	</div>
</div>