{# slate
  name = Event occation head
  models[event_occation] = entity:node
#}
{% import "macros/components.html.twig" as components %}
{% import "macros/misc.html.twig" as misc %}
{% import "macros/ubn-events.html.twig" as ubn_events %}

{% if user_access('Event: Edit any content') %}
  <div class="pull-right">
    {{ misc.link(t('Edit event'), event_occation.field_event.edit_url, '', { query: drupal_get_destination(), html: true }) }}
  </div>
{% endif %}
<div class="panel-separator">
  {% set title = event_occation.field_event.title_field.value %}
  {% set field_scheduled_time = event_occation.field_scheduled_time %}
  {% set links = calendar_links(title, field_scheduled_time, event_occation.field_event.field_lead.value) %}

  {{ components.page_title(title, false, 'event-occation') }}
  <div class="row event-occation-head-info">
    <div class="col-xs-12 col-sm-6">
      <div>
        {{ ubn_events.event_scheduled_time(ubn_events_format_event_time(event_occation.field_scheduled_time)) }}
      </div>
      <div>
        {{ ubn_events.event_address_room(event_occation.field_address_room) }}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="dropdown pull-sm-right xs-pt-20 event-occation-add-to-calendar-links">
        <i class="fa fa-xs fa-calendar" aria-hidden="true">
        <a href="#" class="dropdown-toggle" id="event-occation-add-to-calendar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
          </i>{{ t('Add to calendar') }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="event-occation-add-to-calendar">
          {% for link in links %}
            <li><a href="{{ link.url }}" class="calendar-link-{{ link.type_key }}">{{ link.type_name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {{ components.page_lead(event_occation.field_event.field_lead.value) }}
</div>
