{# slate
  name = Event occasion head
  models[event_occasion] = entity:node
  cacheable = FALSE
#}
{% import "macros/components.html.twig" as components %}
{% import "macros/misc.html.twig" as misc %}
{% import "macros/ubn-events.html.twig" as ubn_events %}

{% set event = event_occasion.field_event %}

{% if node_access('update', event_occasion.value) %}
  <div class="pull-right event-occasion-admin-links">
    {{ misc.link(t('Edit event'), event.edit_url, '', { query: drupal_get_destination(), html: true }) }}
    {{ misc.link(t('Add event occasion'), '/node/add/event-occasion', '', { query: { field_event: event.getIdentifier }, html: true }) }}
  </div>
{% endif %}
<div class="panel-separator">
  {% set title = event.title_field.value %}
  {% set field_scheduled_time = event_occasion.field_scheduled_time %}
  {% set library = event_occasion.field_library.label %}
  {% set location_info = array_filter([library, event_occasion.field_address_room.value]) | join(', ') %}
  {% set event_info = event_occasion.field_event_location_url.url is empty ?
    event.field_lead.value :
    event.field_lead.value ~ "\n\n" ~ event_occasion.field_event_location_url.url
  %}
  {% set link = calendar_link('ics', title, field_scheduled_time, event_info, location_info) %}

  {{ components.page_title(title, false, 'event-occasion') }}
  <div class="row">
    <div class="col-xs-12 event-occasion-head-info">
      {{
        ubn_events.event_scheduled_time(
          ubn_events_format_event_time(event_occasion.field_scheduled_time),
          ubn_events.event_canceled(event_occasion.field_canceled)
        )
      }}
      {{
        ubn_events.event_location(
          event_occasion.field_address_room.value,
          event_occasion.field_library.label,
          event_occasion.field_event_location_url.url
        )
      }}
    </div>
    <div class="col-xs-12">
      <div class="pull-right event-occasion-add-to-calendar-link">
        <i class="fa fa-xs fa-calendar" aria-hidden="true"></i>
        <a href="{{ link }}">{{ t('Add to calendar') }}</a>
      </div>
    </div>
  </div>
  {{ components.page_lead(event.field_lead.value) }}
</div>
