{# slate
  name = Event occation categories
  models[event_occation] = entity:node
#}
<div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-sm-offset-1 col-md-offset-2">
    <div class="event-occation-categories panel-separator">
      {% set event = event_occation.field_event %}
      <ul class="list-unstyled">
        {% if not event.field_event_series.name.value is empty %}
          <li><span class="event-occations-categories-label">{{ event.field_event_series._label }}</span>: {{ event.field_event_series.name.value }}</li>
        {% endif %}
        {% if not event.field_event_type.name.value is empty %}
          <li><span class="event-occations-categories-label">{{ event.field_event_type._label }}</span>: {{ event.field_event_type.name.value }}</li>
        {% endif %}
        {% if not event_occation.field_language.name.value is empty %}
          <li><span class="event-occations-categories-label">{{ event_occation.field_language._label }}</span>: {{ event_occation.field_language.name.value }}</li>
        {% endif %}
        {% if not event.field_audience.name.value is empty %}
          <li><span class="event-occations-categories-label">{{ event.field_audience._label }}</span>: {{ event.field_audience.name.value }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
